<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uredi Radno Vrijeme</title>
    <link rel="stylesheet" href="/styleforma.css">
</head>
<body>
<div class="container">
    <h1>Uredi Radno Vrijeme</h1>
    <div th:if="${error}" class="warning">
        <p th:text="${error}"></p>
    </div>
    <form th:action="@{/uredi-radno-vrijeme/{id}(id=${radnoVrijeme.id})}" th:object="${radnoVrijeme}" method="post">
        <div class="form-group">
            <label for="datum">Datum:</label>
            <input type="date" id="datum" th:field="*{datum}" required>
        </div>
        <div class="form-group">
            <label for="pocetak">Početak:</label>
            <input type="time" id="pocetak" th:field="*{pocetak}" required>
        </div>
        <div class="form-group">
            <label for="kraj">Kraj:</label>
            <input type="time" id="kraj" th:field="*{kraj}" required>
        </div>
        <button type="submit">Spremi promjene</button>
    </form>
</div>
</body>
</html>